th, td{
   border: solid 1px palevioletred;
text-align: center;
background: rgb(33,33,43);
background: linear-gradient(90deg, rgba(33,33,43,1) 0%, rgba(24,24,219,1) 50%, rgba(70,0,120,1) 100%);
}
body{
    background: rgb(33,33,43);
    background: linear-gradient(90deg, rgba(33,33,43,1) 0%, rgba(24,24,219,1) 50%, rgba(70,0,120,1) 100%);
    color: white;
    
}
button{
    border-radius: 5px;
    background: rgb(33,33,43);
    background: linear-gradient(90deg, rgba(33,33,43,1) 0%, rgba(24,24,219,1) 50%, rgba(70,0,120,1) 100%);
    color: white;
}
#size{
    font-size:larger;
}
